@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Serif', sans-serif;
	box-sizing: border-box;
}

.loan-description {
	margin-top: -10px;
}

.portfolio-index {
	height: 100%;
	background-color: WhiteSmoke;
	overflow-y: hidden;
}

.nav-register {
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	border-radius: 8px;
}

.first-portfolio-section {
	background-color: rgba(232, 232, 232, 0.3);
	height: 60vh;
}

.clearfix {
	position: relative;
}

.portfolio-img {
	position: absolute;
	right: 80px;
	top: 40px;
	border-radius: 15px;
}

.portfolio-header {
	position: absolute;
	top: 100px;
	left: 80px;
}
.portfolio-paragraph {
	position: absolute;
	top: 145px;
	left: 80px;
}

.register-paragraph {
	position: absolute;
	top: 175px;
	left: 80px;
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	width: 180px;
	height: 50px;
	padding: 15px 30px 5px;
	border-radius: 8px;
	cursor: pointer;
}

.fa-star {
	color: orange;
	position: relative;
	top: 138px;
	left: 420px;
}

.second-portfolio-section {
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./assets/portfolio_background2-img.jpeg') no-repeat fixed;
	background-size: cover;
	height: 50vh;
}

.third-portfolio-section {
	background-color: white;
	height: 50vh;
}

.connected-text {
	font-size: 15px;
}

.register-paragraph2 {
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	width: 170px;
	height: 45px;
	padding: 10px 30px 5px;
	border-radius: 8px;
	cursor: pointer;
}

.manage-paragraph {
	background-color: #8bc6ec;
	background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
	width: 170px;
	height: 45px;
	padding: 10px 30px 5px;
	border-radius: 8px;
	cursor: pointer;
}

.fourth-portfolio-section {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(234, 249, 249, 0.67) 0.1%,
		rgba(239, 249, 251, 0.63) 90.1%
	);
	height: 25vh;
}

.fifth-portfolio-section {
	height: 40vh;
}

hr.horizontal-line {
	width: 90vw;
	text-align: center;
}
